body{
background-color:blue;
}
.dd{
font-Family:arial,verdana;
color: purple;
}
.f1{
font-Family:arial,verdana;
color:red;
}
.gg{
font-Family:arial,verdana;
color:green;
}
.jj{
font-Family:arial,verdana;
color: black;
}
